// Contact page (/contact)

#contact {
  .email-at {
    margin: 3em 0;

    p {
      margin: 0 0 1em 0;
      display: flex;
      align-items: baseline;
      
      strong {
        display: inline-block;
        min-width: 5em;
        margin-right: 0.5em;
      }
    }

    .inline-container {
      display: inline;
      width: auto;
    }
  }
}

.inline {
  min-width: 150px;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 15;
  outline: 0;
  border: 0;
  text-align: right;
}
