// About page (/about)

.markdown {
  margin-top: 0.5em;
  
  > p:first-of-type {
    margin-top: 0;
    margin-bottom: 1.25em;
    line-height: 1.7;
    color: _palette(fg);
  }

  p {
    margin: 0 0 1.25em 0;
    line-height: 1.7;
    color: _palette(fg);
  }

  h2 {
    font-size: 1.1em;
    font-weight: _font(weight-heading-bold);
    margin: 2em 0 1em 0;
    color: _palette(fg-bold);
    text-transform: uppercase;
    letter-spacing: _font(kerning-heading);
    padding-bottom: 0.5em;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 2px;
      background-color: _palette(accent);
    }
  }

  strong {
    color: _palette(fg-bold);
    font-weight: _font(weight-bold);
  }

  ul {
    margin: 1em 0;
    padding-left: 1.5em;
    
    li {
      margin: 0.5em 0;
      line-height: 1.6;
      color: _palette(fg);
    }
  }

  h1 {
    font-size: 0.8em;
    margin-top: 3em;
  }
}
