
/* Mini Post */
.cell-container {
  .description {
    padding: 0;
    border-top: solid 1px _palette(border);

    p {
      font-size: 0.85rem;
      margin: 0;
      padding: 1.25em;
      color: _palette(fg);
      font-family: "Source Sans Pro", Helvetica, sans-serif;
      line-height: 1.6;
    }
  }
}

.mini-post {
  @include vendor("display", "flex");
  @include vendor("flex-direction", "column");
  background: _palette(bg);
  border: solid 1px _palette(border);
  border-radius: 6px;
  margin: 0 0 (_size(element-margin) * 0.5);
  box-shadow: 0 1px 4px _palette(shadow);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  
  &:hover {
    box-shadow: 0 4px 12px _palette(shadow-hover);
    transform: translateY(-2px);
  }

  .image {
    overflow: hidden;
    width: 100%;

    img {
      @include vendor(
        "transition",
        "transform #{_duration(transition)} ease-out"
      );
      width: 100%;
    }

    &:hover {
      img {
        @include vendor("transform", "scale(1.05)");
      }
    }
  }

  header {
    padding: 1.25em 1.25em 0.75em 1.25em;
    position: relative;
    @include vendor("flex-grow", "1");

    .header-top {
      @include vendor("display", "flex");
      @include vendor("justify-content", "space-between");
      @include vendor("align-items", "flex-start");
      margin-bottom: 0.5em;

      h3 {
        font-size: 0.75em;
        margin: 0;
        @include vendor("flex-grow", "1");
      }

      .published {
        font-family: _font(family-heading);
        font-size: 0.65em;
        font-weight: _font(weight-heading);
        letter-spacing: _font(kerning-heading);
        text-transform: uppercase;
        color: _palette(fg-light);
        white-space: nowrap;
        margin-left: 1em;
        margin-top: 0.1em;
      }
    }
    
    .subtitle {
      font-size: 0.65em;
      color: _palette(fg-light);
      font-style: italic;
      margin-bottom: 0;
      font-weight: normal;
    }

    .author {
      position: absolute;
      right: 2em;
      top: 2em;
    }
  }
}

.mini-posts {
  margin: 0 0 _size(element-margin);
  @include breakpoint(large) {
    @include vendor("display", "flex");
    @include vendor("flex-wrap", "wrap");
    width: calc(100% + #{_size(element-margin)});

    > * {
      margin: _size(element-margin) _size(element-margin) 0 0;
      width: calc(50% - #{_size(element-margin)});
    }

    > :nth-child(-n + 2) {
      margin-top: 0;
    }
  }
  @include breakpoint(xsmall) {
    display: block;
    width: 100%;

    > * {
      margin: 0 0 _size(element-margin);
      width: 100%;
    }
  }
}
